
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


p {
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  color: white;
}

.reveal h1 {
  margin: 0 0 20px 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.6em;
  color: #eee8d5;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; }

.reveal h2 {
  margin: 0 0 20px 0;
  font-size: 1.2em;
  font-family: Montserrat, sans-serif;
  color: #eee8d5;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; 
}
