
/* To change the font, update both the family in the @import url() call AND
    the prez_font value */
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

:root {
  --prez_font: Dosis;
  --light_text_color: #eee8d5
}

/* SCSS theme details: https://quarto.org/docs/presentations/revealjs/themes.html */

/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: var(--prez_font), sans-serif !default;
$presentation-heading-font: var(--prez_font), sans-serif !default;
$presentation-heading-color: var(light_text_color);
$presentation-heading-line-height: 1.1;
$presentation-heading-letter-spacing: 0.02em;
$presentation-heading-font-weight: 600;
$presentation-heading-text-transform: none;
$presentation-heading-text-shadow: none;
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size: 1.2em;
$body-color: #fff;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal body > div.reveal.focused.has-vertical-slides.has-horizontal-slides.ready.zoom > div.backgrounds > div.slide-background.title-slide.slide.level1.center.present > div {
  background-image: "images/saliris.jpeg";
}

.reveal p {
  font-family: var(--prez_font), sans-serif;
  font-size: 0.9em;
  color: white;
}

.reveal h1 {
  margin: 0 0 20px 0;
}

.reveal h2 {
}

.reveal .slide figure>figcaption {
  margin: 0 0 20px 0;
  font-size: 0.5em;
}

.reveal .footer > * {
  margin: 0 20px 0 0;
  text-align: right;
}

.reveal .underline {
  text-decoration: underline;
}

.reveal .h1-chars {
  font-family: var(--prez_font), sans-serif;
  font-weight: 600;
  color: var(--light_text_color);
  font-size: 1.8em;
}

.reveal .h2-chars {
  font-family: var(--prez_font), sans-serif;
  font-weight: 600;
  color: var(--light_text_color);
  font-size: 1.2em;
}